:root {
  /* Primary */
  --marine-blue: rgb(2, 41, 90);
  --purplish-blue: rgb(71, 61, 255);
  --pastel-blue: rgb(173, 190, 255);
  --light-blue: rgb(191, 226, 253);
  --strawberry-red: rgb(237, 53, 72);

  /* Neutral */
  --cool-gray: rgb(150, 153, 171);
  --light-gray: rgb(214, 217, 230);
  --magnolia: rgb(240, 246, 255);
  --alabaster: rgb(250, 251, 255);
  --white: rgb(255, 255, 255);

  /* Fonts */
  --embed_code: "Varela Round", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}